{% extends 'pages/layout.html.twig' %}

{% block title %}Ajouter une collection
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{ asset('styles/detail_collection.css') }}>
{% endblock %}

{% block body %}
	<h1>Collection -
		{{collection.getTitre()}}</h1>
	<section class="collection">
		<div class="collection-item">
			<div class="part1">
				{% if collection.getCover() is null %}
					<img src={{ asset("img/Default_collection.png") }} alt="image par défaut">
				{% else %}
					<img src={{ asset("uploads/" ~ collection.getCover()) }} alt="image de la collection">
				{% endif %}
			</div>
			<div class="part2">
				<p>Categorie :{{collection.getCategorie()}}</p>
				{% if collection.getIsPublic() is empty %}
					<p>Collection rendu privé</p>
				{% else %}
					<p>Collection rendu public</p>
				{% endif %}
			</div>
		</div>
	</section>

	<div class="description">
		<p>Description de la collection:
			{{collection.getDescription()}}</p>
		{% if collection.getTags() is empty %}
			<p id="Tags">Aucun tag</p>
		{% else %}
			<p id="Tags">Tags:
				{{collection.getTags()}}</p>
		{% endif %}
	</div>

	<h2>Posts</h2>

	<section class="post">
		<div id="post-container">
			{% for post in collection.getPosts() %}
				{% if post.getIsPublic() is not empty %}
				<div class="post-item">
					<div class="img-container">
						{% if post.getImage() is null %}
							<img src={{ asset("img/Default_collection.png") }} alt="image par défaut">
						{% else %}
							<img src={{ asset("uploads/" ~ post.getImage()) }} alt="image de la collection">
						{% endif %}
					</div>
					<h3>{{post.getTitre()}}</h3>
					<p>{{post.getDescription()}}</p>
					<p>{{post.getDate()}}</p>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<hr>

	<section class="commentaire">
		<div class="commentaire-form">
			<h2>Commentaires</h2>
			<p>Ajouter un commentaire</p>
			<form action={{"/collection/commentaire/" ~ collection.getId() }} method="post">
				<input type="text" name="contenu" placeholder="Votre commentaire">
				<input type="submit" value="Envoyer" class="bouton">
			</form>
		</div>
		<div class="commentaire-container">
			{% for commentaire in collection.getCommentaires() %}
				<div class="commentaire-item">
					<a href={{'/show/profil/' ~ commentaire.getUser().getId()}}>{{commentaire.getUser().getPseudo()}}</a>
					<p>{{commentaire.getContenu()}}</p>
					<p>{{commentaire.getDate()}}</p>
				{% if app.user %}
					{% if app.user.id ==  commentaire.getUser().getId() %}
						<a href={{'/commentaire/' ~ commentaire.getId() ~ '/supprimer'}}>Supprimer</a>
					{% endif %}
				{% endif %}
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
