{% extends 'pages/layout.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('styles/inscription.css') }}>
{% endblock %}

{% block body %}
    {% for message in app.flashes('compte-error') %}
        <div class="message-error">
            <p>{{message}}</p>
        </div>
	{% endfor %}

    {% for message in app.flashes('compte-creation') %}
		<div class="message-valid">
            <p>{{message}}</p>
        </div>
	{% endfor %}

    {{ form_start(form) }}

        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        <div class="error">
            {{ form_errors(form.email) }}
        </div>

        {{ form_label(form.pseudo) }}
        {{ form_widget(form.pseudo) }}
        <div class="error">
            {{ form_errors(form.pseudo) }}
        </div>

        {{ form_label(form.password.first) }}
        {{ form_widget(form.password.first) }}
        <div class="error">
            {{ form_errors(form.password.first) }}
        </div>

        {{ form_label(form.password.second) }}
        {{ form_widget(form.password.second) }}
        <div class="error">
            {{ form_errors(form.password.second) }}
        </div>

    {{ form_end(form) }}
{% endblock %}