{% extends 'pages/layout.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('styles/profile.css') }}>
{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    {% for message in app.flashes('compte-connexion') %}
		<div class="message-valid">
            <p>{{message}}</p>
        </div>
	{% endfor %}

    {% for message in app.flashes('compter-modifier') %}
		<div class="message-valid">
            <p>{{message}}</p>
        </div>
	{% endfor %}

    {% for message in app.flashes('collection-creation') %}
		<div class="message-valid">
            <p>{{message}}</p>
        </div>
	{% endfor %}

    {% for message in app.flashes('collection-supprimer') %}
		<div class="message-valid">
            <p>{{message}}</p>
        </div>
	{% endfor %}

    <section class="profil">
        <div class="image-container">
        {% if app.user.avatar is null %}
            <img src={{ asset("img/Default.jpg") }} alt="image par défaut">
        {% else %}
            <img src={{ asset("uploads/" ~ app.user.avatar) }} alt="image de profil">
        {% endif %}
        </div>

        <div class="info-container">
            <div>
                <p>Pseudo: <span id="pseudo">{{ app.user.pseudo }}</span></p>
            </div>
            <p>Email: {{app.user.email}}</p>

            {% if app.user.emploi is null %}
                <p>Emploi: N/A</p>
            {% else %}
                <p>Emploi: {{app.user.emploi}}</p>
            {% endif %}

            {% if app.user.phone is null %}
                <p>Phone: N/A</p>
            {% else %}
                <p>Phone: {{app.user.phone}}</p>
            {% endif %}

            {% if app.user.siteURL is null %}
                <p>SiteUrl: N/A</p>
            {% else %}
                <p>SiteUrl: <a href={{app.user.siteURL}}><span id="url-profil">{{app.user.siteURL}}</span></a></p>
            {% endif %}
            <a class="button" href="/profil/update">Modifier</a>
        </div>
    </section>

    <div class="description">
        {% if app.user.description is null %}
            <p>Description du profil: N/A</p>
        {% else %}
            <p>Description du profil: {{app.user.description}}</p>
        {% endif %}
    </div>
    
    <h2>Mes Collections</h2>

    <section class="collection">
        <div id="collection-container">
            {% for col in collection %}
            <div class="collection-item">
            {% if col.getCover() is null %}
                <img src={{ asset("img/Default_collection.png") }} alt="image par défaut">
            {% else %}
                <img src={{ asset("uploads/" ~ col.getCover()) }} alt="image de la collection">
            {% endif %}
                <h3>{{col.getTitre()}}</h3>
                <p>{{col.getDescription()}}</p>
                <p>{{col.getCategorie()}}</p>

                {% if col.getTags() is empty %}
                    <p>Aucun tag</p>
                {% else %}
                    <p>{{col.getTags()}}</p>
                {% endif %}

                {% if col.getIsPublic() is empty %}
                    <p>Privé</p>
                {% else %}
                    <p>Public</p>
                {% endif %}
                <a class="button" href={{"/collection/" ~ col.getId()}}>Voir les Posts</a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}